In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #for beatiful visualizations
%matplotlib inline 
import scipy.stats as scs #for statistics
import operator
from scipy.stats import chi2_contingency
import matplotlib.ticker as ticker
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.preprocessing import *

In [4]:
from sklearn.linear_model import Ridge,Lasso,ElasticNet,LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.svm import LinearSVR,SVR
from sklearn.metrics import mean_squared_error
from sklearn.externals import joblib

In [6]:
dataset = pd.read_csv('../dataset/FinalData.csv')

In [7]:
dataset.head(5)

,IDENTIFICATION,BIRTHDAY,NAME,DIPLOMDATE,DIPLOMTYPE,DIPLOMMENTION,DIPLOMPERCENTAGE,DIPLOMSECTION,DIPLOMOPTION,DIPLOMPLACE,...,SCHOOLCODE,SCHOOLSTATUS,ACADYEAR,PERC1,MENT1,PERC2,MENT2,FAC,OPT,PROM
0,45,1972-03-21,H,1994-09-29,inconnu,NaN,50.0,PEDAGOGIEQUE,PEDA GENERALE,KIN,...,INSTITUT MAENDELEO,inconnu,2013-2014,NaN,ASSIMILE AUX AJOURNES,NaN,NaN,Faculté de Psychologie et des Sciences de l'Éd...,Sciences de l'Éducation,L2
1,215,1978-09-07,F,NaN,DIPLÔME D'ETAT,NaN,58.0,SCIENTIFIQUE,MATH-PHYSIQUE,NaN,...,INSTITUT VUNGI,inconnu,2012-2013,NaN,ADMIS AU MEMOIRE,63.099998,SATISFACTION,Faculté de Droit,Droit Privé et Judiciaire,L2
2,343,1973-03-04,H,1999-11-15,DIPLÔME D'ETAT,NaN,54.0,SCIENTIFIQUE,MATH PHYSIQUE,KINSHASA,...,INSTITUT FARAJA,inconnu,2015-2016,NaN,ASSIMILE AUX AJOURNES,52.200001,AJOURNE,Faculté des Sciences Économiques et de Gestion,Tronc commun,G2
3,356,1978-03-02,H,1997-12-24,DIPLÔME D'ETAT DU RWANDA,NaN,60.0,ECONOMIE ET COMMERCE,ECONOMIE,GISENYI,...,ESISE/GISENYI,inconnu,2015-2016,NaN,ADMIS AU STAGE ET AU MEMOIRE,59.900002,SATISFACTION,Faculté des Sciences Économiques et de Gestion,Gestion des Entreprises,L2
4,398,1968-02-28,H,1990-07-02,DIPLÔME D'ETAT,NaN,60.0,SCIENTIFIQUE,MATH PHYSIQUE,KINSHASA,...,NaN,inconnu,2012-2013,65.099998,SATISFACTION,NaN,NaN,Faculté de Santé et Développement Communautaires,Santé et Développement Communautaires,L2

In [11]:
dataset.drop(labels=['DIPLOMDATE','DIPLOMTYPE','DIPLOMMENTION'],axis=1,inplace=True)

In [14]:
dataset.rename(columns={'IDENTIFICATION':'ID','NAME':'SEXE','DIPLOMPERCENTAGE':'DIPPERC','DIPLOMSECTION':'SECTION','DIPLOMOPTION':'OPTION'},inplace=True)

In [19]:
dataset.drop(labels=['SCHOOLCODE','DIPLOMPLACE'],inplace=True,axis=1)

In [15]:
dataset.set_index('ID',inplace=True)

In [24]:
dataset = dataset.head(10)

In [32]:
dataset.to_csv('../dataset/DataForPresentation.csv')

In this slide we will try to convert all the dataset and pictures to power point elements for the last presentation

,BIRTHDAY,SEXE,DIPPERC,SECTION,OPTION,SCHOOL,SCHOOLPROVINCE,SCHOOLSTATUS,ACADYEAR,PERC1,MENT1,PERC2,MENT2,FAC,OPT,PROM
ID,,,,,,,,,,,,,,,,
45,1972-03-21,H,50.0,PEDAGOGIEQUE,PEDA GENERALE,INSTITUT MAENDELEO,NORD-KIVU,inconnu,2013-2014,NaN,ASSIMILE AUX AJOURNES,NaN,NaN,Faculté de Psychologie et des Sciences de l'Éd...,Sciences de l'Éducation,L2

In [54]:
dataset = pd.read_csv('../dataset/DataForPresentation.csv')

In [28]:
dataset=dataset[[u'ID', u'BIRTHDAY', u'SEXE', u'DIPLOMDATE',
       u'DIPLOMTYPE', u'DIPPERC', u'SECTION', u'OPTION',
       u'SCHOOL', u'SCHOOLPROVINCE', u'SCHOOLSTATUS']]

In [60]:
dataset=dataset.drop(labels=['DIPLOMDATE'],axis=1).set_index(keys='ID').head(10)

In [88]:
writer =  pd.ExcelWriter('DataForPresentation.xlsx')

In [50]:
writer =  pd.ExcelWriter('DataForPresentation.xlsx')
dataset.to_excel(writer,'datasetIn1',na_rep='NaN',encoding='utf-8')
writer.close()

In [52]:
writer.save()

In [53]:
writer.close()

In [48]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [68]:
datasetOut = pd.read_csv('../dataset/DatasetOutV2.csv')

In [69]:
datasetOut=datasetOut.loc[datasetOut.ID.isin(dataset.index)]

In [65]:
datasetOut.columns

Index([u'Unnamed: 0', u'ID', u'ACADYEAR', u'PERC1', u'MENT1', u'PERC2',
       u'MENT2', u'FAC', u'PROM', u'Echec', u'Pass1erSession', u'Distinction',
       u'PercFinal'],
      dtype='object')

In [71]:
datasetOut=datasetOut[[u'ID', u'ACADYEAR', u'PERC1', u'MENT1', u'PERC2',
       u'MENT2', u'FAC', u'PROM']]

In [72]:
datasetOut.shape

(11, 8)

In [74]:
datasetOut.set_index(keys=['ID'])

      ACADYEAR      PERC1  MENT1      PERC2 MENT2   FAC PROM
ID
45   2013-2014        NaN     AA        NaN   NaN  FPSE   L2
215  2012-2013        NaN    ADM  63.099998     S    FD   L2
343  2015-2016        NaN     AA  52.200001     A  FSEG   G2
356  2015-2016        NaN  ADSTM  59.900002     S  FSEG   L2
398  2012-2013  65.099998      S        NaN   NaN  FSDC   L2
429  2013-2014        NaN     AA        NaN     A    FD   G1
474  2014-2015        NaN     AA        NaN   NaN    FD   G3
474  2015-2016  62.500000      S        NaN   NaN    FD   G3
526  2012-2013  65.000000      S        NaN   NaN  FSDC   L2
644  2013-2014  60.400002      S        NaN   NaN    FD   L1
644  2014-2015  68.000000      S        NaN   NaN    FD   L2

In [80]:
dataset = pd.merge(left=dataset, right=datasetOut,left_on='ID',right_on='ID')

In [78]:
dataset.reset_index(inplace=True)
dataset.reset_index(inplace=True)

In [85]:
dataset.drop(labels=['index'],axis=1,inplace=True)

In [87]:
dataset.set_index(inplace=True,keys='ID')

In [89]:
writer =  pd.ExcelWriter('DataForPresentation.xlsx')
dataset.to_excel(writer,'datasetIn1',na_rep='NaN',encoding='utf-8')
writer.close()