In this dataset we will deal with nosisy columns in our dataset we will treat it like a new one

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #for beatiful visualisations
%matplotlib inline 
import scipy.stats as scs #for statistics
import operator
from scipy.stats import chi2_contingency
import scipy.stats as scs #for statistics
import matplotlib.ticker as ticker

In [240]:
dataset=pd.read_csv('noisyColumns.csv')

In [4]:
dataset.head(5)

,Unnamed: 0,DIPLOMSECTION,DIPLOMOPTION,SCHOOL,SCHOOLSTATUS
0,0,PEDAGOGIEQUE,PEDA GENERALE,institut maendeleo,inconnu
1,1,SCIENTIFIQUE,MATH-PHYSIQUE,institut vungi,inconnu
2,2,SCIENTIFIQUE,MATH PHYSIQUE,institut faraja,inconnu
3,3,ECONOMIE ET COMMERCE,ECONOMIE,esise/gisenyi,inconnu
4,4,TECHNIQUE,COMMERCIALE ET ADMINISTRATIVE,"c,s, umoja",inconnu

In [241]:
dataset.drop(labels=['Unnamed: 0'] ,inplace=True,axis=1)

In [242]:
dataset.head(5)

,DIPLOMSECTION,DIPLOMOPTION,SCHOOL,SCHOOLSTATUS
0,PEDAGOGIEQUE,PEDA GENERALE,institut maendeleo,inconnu
1,SCIENTIFIQUE,MATH-PHYSIQUE,institut vungi,inconnu
2,SCIENTIFIQUE,MATH PHYSIQUE,institut faraja,inconnu
3,ECONOMIE ET COMMERCE,ECONOMIE,esise/gisenyi,inconnu
4,TECHNIQUE,COMMERCIALE ET ADMINISTRATIVE,"c,s, umoja",inconnu

In [9]:
len(dataset.DIPLOMOPTION.value_counts())

235

In [10]:
len(dataset.DIPLOMSECTION.value_counts())

101

In [11]:
len(dataset.SCHOOL.value_counts())

1406

In [12]:
len(dataset.SCHOOLSTATUS.value_counts())

8

let first convert all the values to lower case and then check again

In [13]:
dataset.SCHOOLSTATUS.value_counts()

inconnu         3833
catholique       289
protestant       260
privé            170
publique         152
musulman           6
kimbanguiste       3
autodidacte        2
Name: SCHOOLSTATUS, dtype: int64

In [4]:
SCHHOL=list(set(dataset.SCHOOL))

In [42]:
SCHHOL.sort()

let use  regular expressions to odrdonise des données

In [49]:
import re

In [5]:
import scipy.linalg as lin
import Levenshtein as leven
from sklearn.cluster import KMeans
import itertools

In [6]:
schoolName=np.array(SCHHOL)

In [8]:
schoolName[:5]

array(['institut ifendula', 'zanner', 'augustino', 'institut moria',
       'c.s. ndosho'],
      dtype='|S40')

In [7]:
(dim,)=schoolName.shape

In [7]:
f= lambda (x,y): leven.distance(x,y) #the mapping function callculating the levenstein distance between 2 owrd

In [18]:
res=np.fromiter(itertools.imap(f,itertools.product(schoolName,schoolName)),dtype=np.uint8)

compute the cartesian product of each word in our array vs each worl in our array

In [13]:
cartWord=itertools.product(schoolName,schoolName)

In [14]:
cartWord

then we can map the cartesiant product using the leveinstein distance function

In [14]:
res=np.fromiter(itertools.imap(f,cartWord),dtype=np.uint8)

In [16]:
max(res)

40

In [19]:
res.shape

(1976836,)

In [21]:
dim*dim

1976836

let put it in a matrix with the shape of dim

In [8]:
A = np.reshape(res,(dim,dim))

NameError: name 'res' is not defined

In [20]:
A.shape

(1406, 1406)

each array in a contain the leveinstein distance of a world against the others world in the array let test if the first element is 0

In [26]:
np.diag(A)

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [28]:
u,s,v = lin.svd(A, full_matrices=False)

let get the singular value decomposition  of A

In [29]:
u.shape

(1406, 1406)

In [30]:
v.shape

(1406, 1406)

In [31]:
s.shape

(1406,)

(1406, 10)

In [51]:
A.shape

(1406, 1406)

In [18]:
from sklearn.cluster import AffinityPropagation

In [54]:
len(unique_labels)

46

In [59]:
schoolName[labels==22]

array(['itk mahamba', 'mont carmel', 'ct de beni', 'i namurhera',
       'st michel', 'la fontaine', 'ste ursule', 'saint paul',
       'iti cholola', 'gsccmkigali', 'la victoire', 'itfm bukavu',
       'mont sinai', 'st joseph', 'saint marc', 'st kizito',
       'st andr\xc3\xa9', 'itm kizito', 'annuarite', 'ste  ursule',
       'itm de boga', 'imani panzi', 'st patrick', 'st etienne',
       'gs gilgali', 'c,s, umoja', 'itfm/bukavu', 'ste famille',
       'itm kyondo', 'saint pau', 'i rutoboko', 'stec ursule',
       'mont sionii', 'itav ambele', 'i mont goma', 'nuru/uvira',
       'st augustin', 'st rosere', 'des bukavu', 'cs thabiti'],
      dtype='|S40')

5106

In [9]:
len(set(list(dataset.DIPLOMOPTION)))

235

In [87]:
section.shape

(101,)

In [10]:
words=np.array(list(set((dataset.DIPLOMSECTION.apply(lambda x: x.lower())))))

In [11]:
def groupLev(words):
    (dim,) = words.shape

    f = lambda (x,y): -leven.distance(x,y)

    res=np.fromiter(itertools.imap(f, itertools.product(words, words)), dtype=np.uint8)
    A = np.reshape(res,(dim,dim))

    af = AffinityPropagation(affinity='precomputed').fit(A)
    cluster_centers_indices = af.cluster_centers_indices_
    labels = af.labels_
    

    unique_labels = set(labels)
    groups={}
    for i,j in zip(unique_labels,cluster_centers_indices ):
            groups[words[j]]=words[labels==i]
    return groups,labels

In [12]:
options=np.array(list(set((dataset.DIPLOMOPTION.apply(lambda x: x.lower())))))

In [122]:
groupLev(options)

({0: array(['v\xc3\xa9t\xc3\xa9rinaire', 'veterinaire',
         'sant\xc3\xa9 communautaire'],
        dtype='|S41'),
  1: array(['latin philo', 'latinphilo', 'relations publiques', 'latin philio',
         'latin-philo'],
        dtype='|S41'),
  2: array(['electricite', 'electricit\xc3\xa9', 'electreicite', 'electri',
         'electronique', 'electric'],
        dtype='|S41'),
  3: array(['informatique', 'com informatique', 'comm informatique',
         'com  informatique', 'com inform', 'com   informatique'],
        dtype='|S41'),
  4: array(['mes gene', 'peda gen', 'mec gene', 'mec gnl', 'com et adm',
         'elec gnl', 'mecanique gen', 'batiment', 'mecan gene', 'mec gener',
         'mec gen', 'mecanique', 'pedagerale', 'inconnu'],
        dtype='|S41'),
  5: array(['p\xc3\xa9dagogie g\xc3\xa9n\xc3\xa9rale',
         'p\xc3\xa9gagogie g\xc3\xa9n\xc3\xa9ral',
         'p\xc3\xa9dagogie normale',
         'p\xc3\xa9gagogie g\xc3\xa9n\xc3\xa9rale',
         'pedagogie g\xc3\xa9n\xc3\xa9rale',
         'p\xc3\xa9dagogi g\xc3\xa9n\xc3\xa9rale',
         'p\xc3\xa9dagogie appliqu\xc3\xa9e',
         'padagogie g\xc3\xa9n\xc3\xa9rale',
         'p\xc3\xa9gogigie g\xc3\xa9n\xc3\xa9rale'],
        dtype='|S41'),
  6: array(['math-physique', 'math physique'],
        dtype='|S41'),
  7: array(['math\xc3\xa9matique physique', 'math\xc3\xa9matique physiqe',
         'math\xc3\xa9matique-physique', 'mathematique physique',
         'mathematique- physique'],
        dtype='|S41'),
  8: array(['elect', 'lp', 'cb', 'p', 'peda', 'bc', 'c', 'soc', 'ppg', 'ca',
         'pg', 'ph', 'pn', 'pm', 'b', 'fdf', 'mp', 'nutr', 'diet', 'a',
         'elec'],
        dtype='|S41'),
  9: array(["h\xc3\xb4tesse d'acceuil", 'h\xc3\xb4tesse d\xe2\x80\x99accueil',
         "hotesse d'acceuil", "hotesse d'acc", "hotesse d'aceuil"],
        dtype='|S41'),
  10: array(['m\xc3\xa9canique g\xc3\xa9\xc3\xa9nrale',
         'm\xc3\xa9canique g\xc3\xa9n\xc3\xa9rale',
         'mecanique g\xc3\xa9n\xc3\xa9rale',
         'm\xc3\xa9camique g\xc3\xa9n\xc3\xa9rale', 'mecanique automobile',
         'mecanique generale'],
        dtype='|S41'),
  11: array(['macanique machines ou', 'm\xc3\xa9canique machines outlis',
         'mecanique machines outils', 'mec machines outils',
         'm\xc3\xa9canique machines outils', 'meca machines outils'],
        dtype='|S41'),
  12: array(['latin philososophie', 'latin philosophie', 'latin philisophie',
         'latin-philosophie'],
        dtype='|S41'),
  13: array(['bioligie-chimie', 'biologie chimie', 'biologie-chimie',
         'bioligie chimie', 'biologie chilie'],
        dtype='|S41'),
  14: array(['commerciale et informatique', 'commerciale informatique',
         'commerciale infomratique', 'commerciale iormatiquenf',
         'secretariat informatique', 'commerciale information'],
        dtype='|S41'),
  15: array(['commerciele administrative', 'commerciale admnistrative',
         'commerciale et administra', 'commercialen et administraive',
         'commerciale et administrative', 'commerciale et administration',
         'commerciale et administrativie', 'commerciale et aministrative',
         'commerciale et dministrative', 'commerciale administrative',
         'commerciale et administrativeinformatique'],
        dtype='|S41'),
  16: array(['electronique g\xc3\xa9n\xc3\xa9rale',
         'electricit\xc3\xa9 g\xc3\xa9n\xc3\xa9rale', 'electronique generale'],
        dtype='|S41'),
  17: array(['elect generale', 'ele generale', 'elec generale', 'mec generale',
         'p\xc3\x8bda generale', 'agriculture generale', 'peda generale'],
        dtype='|S41'),
  18: array(['nutrit', 'nitrution', 'nutrition et diet', 'nutrition',
         'construction', 'nutri', 'industrielle'],
        dtype='|S41'),
  19: array(['secretariat', 'secr\xc3\xa9tariat', 'secretariat publ'],
        dtype='|S41'),
  20: array(['imprimerie', 'economie', 'bio-chimie', 'biochimie', 'bio chimie',
         'agronomie'],
        dtype='|S41'),
  21: array(['comm et adm', 'commerciale et admi', 'commmerciale et adm',
         'commerciale et adm', 'commerciale adm', 'commerciale et admin',
         'commerc et adm'],
        dtype='|S41'),
  22: array(['m\xc3\xa9canique', 'soaciale', 'socaile', 'agriculture', 'siciale',
         'social', 'hospitali\xc3\xa8re', 'agricole', 'sociale',
         'commerciale'],
        dtype='|S41'),
  23: array(['pdagogie generale', 'pedagogie generale', 'pedagogie maternelle'],
        dtype='|S41'),
  24: array(['machines out', 'machine outils', 'coupe couture',
         'machines outils', 'm\xc3\xa9canique outil', 'chimie biologie',
         'machine outil'],
        dtype='|S41'),
  25: array(['electricite indust', 'el\xc3\xa9ctricit\xc3\xa9 industrielle',
         'electricite industr', 'electricit\xc3\xa9 industrielle',
         'm\xc3\xa9canique industrielle', 'elctricite industrielle',
         'electronique industrielle', 'electricite industrielle'],
        dtype='|S41'),
  26: array(['elec ind', 'electr indus', 'elec industr', 'ele indudtrielle',
         'elec indust'],
        dtype='|S41')},
 array([ 4, 18,  4, 22, 15, 22,  0,  9,  8, 23, 22, 11, 15,  1, 24,  2, 12,
         8,  8, 10,  1,  3,  3,  9,  3,  0,  4,  5,  6,  4, 24,  7, 20, 25,
        10,  8,  3, 15,  5,  1, 17,  1, 14,  4,  8, 20, 11, 22, 13,  9, 21,
        10,  5,  5, 26, 21, 26,  2, 10, 21, 24, 11,  9, 17, 12, 24,  5, 15,
         0,  8, 18, 13, 14, 15,  4, 22,  8, 11,  2, 25, 24, 14, 15, 22,  5,
        22,  5,  4,  7, 10,  8,  8, 14, 12, 16, 25,  8, 13, 26,  3, 25,  1,
        17, 20, 11, 17,  7, 17,  4,  8, 15,  8,  6,  8, 18,  8, 22, 18, 19,
        10, 20, 25, 13, 25,  4, 18, 13, 18,  3, 20, 21,  8,  8, 21, 20, 17,
        24, 22,  4,  8, 23,  4, 15, 15, 19,  7, 21, 15, 11, 16,  5, 26, 12,
        14,  8, 18, 14, 19, 24, 22,  2, 25,  4,  2,  2, 21,  5,  8, 15,  7,
         4, 25, 23, 26,  8,  8,  4,  9, 17, 16]))

In [19]:
(groupsSchool,labels)=groupLev(schools)

let write a function to remove words like college, institut , groupe scolaire , lycee ecole in school names

In [15]:
def removeNames(name, words=['college','i','collège','lycée','lycee','ecole','école','intitut','institut','intitut','inst.','inst','institutu','cs','complexe scolaire','groupe scolaire', ]):
    """this function will remove words """
    if isinstance(name,str):
        return ' '.join(filter(lambda x: x.lower() not in words,  name.split()))
    else:
        pass

In [16]:
schools=np.array(list(set((dataset.SCHOOL.apply(removeNames)))))

In [28]:
%store groupsSchool >> schoolNames.txt

Writing 'groupsSchool' (dict) to file 'schoolNames.txt'.

In [460]:
schools=np.array(list(set((dataset.SCHOOL.apply(removeNames)))))
(groupsSchool,labels)=groupLev(schools)

In [29]:
schoolMOst=schoolMOst.apply(removeNames ) #remove names

NameError: name 'schoolMOst' is not defined

In [269]:
meta=groupsSchool.get('metanoia')

In [21]:
mwanga=groupsSchool.get('mwanga')

In [271]:
wima=groupsSchool.get('wima')

In [272]:
deBukavu=groupsSchool.get('de bukavu')

In [273]:
meta

array(['matanoia', 'metanoia', 'bethanie', 'metonoina', '%etanoia',
       'bethsaida', 'i metanoia'],
      dtype='|S33')

In [190]:
amani=groupsSchool.get('amani')

In [261]:
mwanga

array(['mazinge', 'mwanzo', 'bwanga', 'dinanga', 'ins mwanga', 'mwandu',
       'mwanda', 'manga', 'mwendu', 'i mwanga', 'bwindi', 'bwinzi',
       'mwanga', 'mwangi', 'mpinga', 'mwenga', 'mwana', 'mwajengo',
       'mwangaza', 'njanja', 'i lwanga', 'mwinda', 'alingbwa', 'lwanga',
       'l mwandu', 'ceago'],
      dtype='|S33')

we will manually edit the scholl name and remove and add correct names to the dic

In [197]:
mwanga

array(['mwanzo', 'musanga', 'bwanga', 'dinanga', 'ins mwanga', 'mwandu',
       'mwanda', 'manga', 'mwendu', 'i mwanga', 'mwanga', 'mwangi',
       'mpinga', 'mwenga', 'mwana', 'mwangaza', 'mugunga', 'njanja',
       'i lwanga', 'mwinda', 'lwanga', 'l mwandu'],
      dtype='|S33')

In [439]:
groupsSchool['mwanga']

array(['mazinge', 'mwanzo', 'bwanga', 'dinanga', 'ins mwanga', 'mwandu',
       'mwanda', 'manga', 'mwendu', 'i mwanga', 'bwindi', 'bwinzi',
       'mwanga', 'mwangi', 'mpinga', 'mwenga', 'mwana', 'mwajengo',
       'mwangaza', 'njanja', 'i lwanga', 'mwinda', 'alingbwa', 'lwanga',
       'l mwandu', 'ceago'],
      dtype='|S33')

In [22]:
groupsSchool['mwanga']=[]
for x in mwanga:
    if x in ['mwanga','i mwanga','ins mwanga','manga']:
        groupsSchool['mwanga'].append(x)
    else:
        groupsSchool[x]=x

In [205]:
deBukavu

array(['de basoko', 'des bukavu', 'de kalamu', 'de bukavu', 'it bugabo'],
      dtype='|S33')

In [106]:
def removeClean(key, similar):
    """this function will remove similar to grouppe name"""
    values=groupsSchool[key] #first with get the values from dict
    del groupsSchool[key] #we delete them
    correctV=[] #we create an empty list for new values 
    for x in values:
        if x in similar:
            correctV.append(x)
        elif x in ['itfm','iftm', 'itfm maendeleo','funu maendeleo']:
            print x
            groupsSchool['itfm/bukavu']=np.append(groupsSchool['itfm/bukavu'], np.array([x]))

        elif x=='i de bkv':
            groupsSchool['de bukavu'].append(x)
        elif x=='bukavu':
            print x
            groupsSchool['de bukavu'].append(x)
        elif x=='meta':
            print x
            groupsSchool['metanoia'].append('meta')
        elif x=='i himbi':
            groupsSchool['himbi']=[]
            groupsSchool['himbi']=['himbi',x]
        elif x=='i zanner':
            groupsSchool['zanner'].append(x)
        elif x=='instigo':
            groupsSchool['de goma']=[]
            groupsSchool['de goma']=['de goma',x]
        elif x=='katwa':
            groupsSchool['i katwa']=[]
            groupsSchool['i katwa']=['i katwa',x]
        elif x=='kabuis':
            groupsSchool['mama yetu'].append(x)
        elif x== 'isidore':
            print x
            groupsSchool['bakadja'].append(x)
        elif x=='faradja':
            groupsSchool['faraja'].append(x)
        else:
            groupsSchool[x]=[]
            groupsSchool[x].append(x)
    groupsSchool[key]=correctV

In [234]:
wima

array(['himbi', 'kimua', 'uzima', 'cikoma', 'ngoma', 'vihya', 'weza2',
       'neema', 'hekima', 'ciesk', 'elimu', 'bwinzi', 'azma', 'lwiro',
       'olimba', 'wai wai', 'weza', 'oicha', 'somea', 'goma', 'milima',
       'wima', 'jiwe', 'wema'],
      dtype='|S33')

In [26]:
groupsSchool['wima']

array(['epaf', 'kimua', 'uzima', 'vihya', 'weza2', 'hekima', 'kaya',
       'azma', 'rwabika', 'lwiro', 'wai wai', 'uvira', 'weza', 'oicha',
       'wima', 'jiwe', 'wema'],
      dtype='|S33')

In [24]:
groupsSchool['metanoia']

array(['matanoia', 'metanoia', 'bethanie', 'metonoina', '%etanoia',
       'bethsaida'],
      dtype='|S33')

In [25]:
removeClean('metanoia',['matanoia', 'metanoia', 'metonoina', '%etanoia', 'i metanoia'])

In [27]:
removeClean('wima',['wima'])

In [28]:
groupsSchool['de bukavu']

array(['de basoko', 'des bukavu', 'de kalamu', 'de bukavu', 'it bugabo'],
      dtype='|S33')

In [29]:
removeClean('de bukavu',['de bukavu','des bukavu'])

In [30]:
groupsSchool['amani']

array(['enano', 'amkeni', 'tmaini', 'amina', 'mali', 'okapi', 'ufamandu',
       'matumaini', 'uaminifu', 'utamaduni', 'bwindi', 'amen',
       'amani cebia', 'bahati', 'odari', 'sayuni', 'amani', 'l amani',
       'famila dei', 'namango', 'avenir', 'imani'],
      dtype='|S33')

In [31]:
removeClean('amani',['amani','l amani'])

In [32]:
groupsSchool['luka']

array(['tshoka', 'vuhika', 'nduba', 'ovoa', 'lusaka', 'lukpfu', 'lukpafu',
       'luka', 'du lac', 'lunya', 'bikuka', 'lukeba', 'zuza', 'mlezi',
       'bukavu', 'losa', 'lukuga', 'muku', 'lowa', 'mfuki', 'aleluya'],
      dtype='|S33')

In [33]:
removeClean('luka',['luka','lukpfu','lukpafu'])

bukavu

In [34]:
groupsSchool['de beni']=np.array(['de beni', 'i de bkv', 'beni', 'de buleusa', 'ct beni', 'de bunia',
       'les dibobol', 'ipp/beni', 'de kindu', 'les vert', 'de goma',
       'avenir de beni', 'de bagira', 'diabena', 'ct de beni'])

In [35]:
removeClean('de beni',['de beni','de beni','beni','ct beni','ct de beni','avenir de beni'])

In [36]:
groupsSchool['espoir1']

array(['espoir1', 'espoir', 'espoir2', 'espoir 2', 'espoir 1'],
      dtype='|S33')

In [51]:
%store groupsSchool >> groupSchool10.txt

Writing 'groupsSchool' (dict) to file 'groupSchool10.txt'.

In [37]:
removeClean('espoir1',['espoir1', 'espoir', 'espoir2', 'espoir 2',
       'espoir i', 'espoir 1'])

In [39]:
groupsSchool['salama']

array(['kasalala', 'alpha', 'c,s, umoja', 'g.s lemba', 'salamu', 'salama',
       'kabalaka', 'mahamba', 'baraka', 'shaloom', 'sauvetage', 'faraja',
       'shalom', 'it salama', 'galaxie'],
      dtype='|S33')

In [40]:
removeClean('salama',['salama'])

In [41]:
groupsSchool['bakadja']

array(['bakita', 'bakandja', 'bakanja', 'bakadja', 'faradja', 'kayadja'],
      dtype='|S33')

In [45]:
removeClean('bakadja',['bakanja','bakadja','bakandja','i bakanja'])

In [47]:
groupsSchool['kibali']

array(['kibabi', 'kambali', 'akili', 'kiyabo', 'gilgali', 'jikaze',
       'cirezi', 'kiraku', 'kiruli', 'kibali', 'kivako'],
      dtype='|S33')

In [48]:
removeClean('kibali',['kibali'])

In [49]:
groupsSchool['itm']

array(['itav', 'z', 'etpm', 'ecl', 'itsu', 'itso', 'itm', 'meta', 'iftm',
       'ebi', 'itve', 'fdf', 'bwito', 'utfm', 'itcb', '61', '54', '53',
       'itfm', 'icl', 'itig'],
      dtype='|S33')

In [ ]:
groupsSchool['itm']

In [50]:
removeClean('itm',['itm'])

meta
iftm
itfm

In [51]:
groupsSchool['itfm/bukavu']

array(['itfm bukavu', 'itfm/bukavu', 'itfm/bkv', 'iftm', 'itfm'],
      dtype='|S33')

In [54]:
groupsSchool['mama mulezi']

['mama mulezi']

In [53]:
removeClean('mama yetu',['mama yetu'])

In [ ]:
%store groupsSchool >> groupSchoolDraft6.txt

In [56]:
groupsSchool['maendeleo'] =['maendeleo', 'i maendeleo', 'maedeleo']

In [ ]:
removeClean('maendeleo',['maendeleo', 'i maendeleo', 'maedeleo'])

In [57]:
groupsSchool['isidore bakanja']

array(['isidore bakandja', 'isodre bakandja', 'isidore bakanje',
       'isidore bakanja', 'isidor bakandja', 'isidore bankaja',
       'iidore bakanja', 'isidora bakanja'],
      dtype='|S33')

In [ ]:
removeClean('isidore bakanja',['isidore bakandja', 'isodre bakandja', 'i isidore bakanja',
       'i isidore bakanje', 'isidore bakanja', 'isidor bakandja', 'isidore bankaja', 'iidore bakanja',
       'isidora bakanja'])

In [60]:
groupsSchool['irambo']=np.array(['rambo', 'i himbi', 'kiyabo', 'essi nyamirambo', 'i rutoboko',
       'irambo', 'idambo', 'ruhamiro', 'mambo', 'itav bbo', 'kilambo'], 
      dtype='|S33')

In [62]:
groupsSchool['himbi']

['himbi', 'i himbi']

In [61]:
removeClean('irambo',['rambo',
       'irambo', 'idambo'])

In [63]:
groupsSchool['base']

array(['zanner', 'sake', 'bibwe', 'belge', 'mehe', 'beni', 'base',
       'asseco', 'bashu', 'elise', 'isea', 'tusome', 'babwise'],
      dtype='|S33')

In [64]:
removeClean('base',['base'])

In [65]:
groupsSchool['zanner']=['zanner','ionstitut zanner','zaner']

In [66]:
groupsSchool['idap isp bunia']

array(['edap isp walikale', 'edap isp bunia', 'idap/bunia',
       'idap isp bunia', 'idap/isp bunia', 'adventiste/bunia',
       'idap isp rutshuru'],
      dtype='|S33')

In [67]:
removeClean('idap isp bunia',['edap isp bunia', 'idap/bunia',
       'idap isp bunia', 'idap/isp bunia'])

In [70]:
removeClean('instituti ndosho',['instituti ndosho'])

In [72]:
groupsSchool['ibanda']

array(['ibanga 2', 'ibanda', 'idanda', 'vision ibanda', 'atene ibanda',
       'cibanda', 'msaada', 'kabanda', 'a. ibanda', 'dibanda', 'banza',
       "d'ibanda", 'dibasana', 'ifendula', 'ibanga'],
      dtype='|S33')

In [ ]:
len(agroupsSchool)

In [73]:
removeClean('ibanda',['ibanda', 'idanda', 'vision ibanda', 'atene ibanda',
       "i d'ibanda",'dibanda',"d'ibanda", 'i ibanda','a.ibanda'])

In [ ]:
groupsSchool['zanner']

In [74]:
groupsSchool['edap/isp']

array(['edap/isp', 'bdap/isp', 'edak/goma', 'edap/upn', 'edap isp',
       'edac isp'],
      dtype='|S33')

In [75]:
removeClean('edap/isp',['edap/isp','edap isp','edac isp','bdap/isp'])

In [ ]:
for x in schoolMOst:
    if groupsSchool.get(x)==None:
        print x

In [78]:
groupsSchool['matendo']

array(['matendo', 'matenda', 'imoteyiti', 'matengenezo', 'mwendu',
       'molende', 'patemo', 'mwajengo', 'mapendo', 'l mapendo', 'malende',
       'mapendo/ngese', 'majengo', 'maedeleo'],
      dtype='|S33')

In [79]:
removeClean('matendo', ['matendo'])

In [80]:
groupsSchool['mont sionii']

array(['mont sion ii', 'mont des oliviers', 'mont sionii',
       'mont tshikenge', 'mont kitenge', 'mont sinai'],
      dtype='|S33')

In [81]:
removeClean('mont sionii',['mont sion ii','mont sionii'])

In [82]:
groupsSchool['de goma']

['de goma']

In [83]:
removeClean('isingo',['isingo','monvu/isingo'])

isidore

In [84]:
groupsSchool['bokolo']

array(['loyola', 'bonsomi', 'bobokoli', 'bokolo', 'boyulu', 'visolo',
       'les dibobol', 'tsololo', 'totoro', 'bokoro', 'mbovote'],
      dtype='|S33')

In [85]:
removeClean('bokolo',['bokolo'])

In [86]:
groupsSchool['totoro']

['totoro']

In [87]:
groupsSchool['kashali']

array(['kashozi', 'karhale', 'kashofu', 'mashauri', 'kasali', 'kasheke',
       'kashali', 'fadhili'],
      dtype='|S33')

In [88]:
removeClean('kashali',['kashali'])

In [89]:
groupsSchool['nyabiondo']

array(['john mabwindi', 'nyantende', 'nyabiondo', 'nyabushongo',
       'nyamianda', 'nyabibwe'],
      dtype='|S33')

In [90]:
removeClean('nyabiondo',['nyabiondo'])

In [91]:
groupsSchool['lukanga']

array(['musanga', 'luvango', 'ludaha', 'luanga', 'mabakanga', 'lukanga',
       'vikanzu', 'lukweti', 'lukunga', 'it lukanga', 'ruharaga',
       'bunyanga', 'de lukanga'],
      dtype='|S33')

In [92]:
removeClean('lukanga',['it lukanga','de lukanga','lukanga','lukunga','lukuga'])

In [93]:
groupsSchool['kilimani']

array(['kirimavolo', 'kilimali', 'masikilizano', 'ihimbi', 'bigilimani',
       'lyliane', 'mbolitini', 'kitumaini', 'kalimabenge', 'biglimani',
       'kilimani'],
      dtype='|S33')

In [94]:
removeClean('kilimani',['kilimani','kilimali'])

In [95]:
groupsSchool['bandari']

array(['mandayi', 'bundji', 'utaniadun', 'bandashe', 'uenezaji', 'hodari',
       'ruwenzori', 'bunyakiri', 'mandai', 'bandari'],
      dtype='|S33')

In [96]:
removeClean('bandari',['bandari'])

In [99]:
groupsSchool['i katwa']

['i katwa', 'katwa']

In [98]:
removeClean('katana',['katana','l katana','katana centre'])

In [100]:
groupsSchool['mabula']

array(['macha', 'ilambula', 'tuha utala', 'mabula', 'mabula/ihoka',
       'kabuis', 'kabolwa', 'mavuno', 'mbula', 'maboso', 'mutambala',
       'kabila', 'malula', 'bugarula', 'mululu', 'mayele', 'ndahura',
       'mabalako', 'mboga', 'luapula'],
      dtype='|S33')

In [101]:
removeClean('mabula',['mabula', 'mabula/ihoka','mbula'])

In [102]:
groupsSchool['tuungane']

array(['tujikaze', 'muhungano', 'tujenge', 'tuwungane', 'mungano',
       'muungano', 'c.s. tuungane', 'tuungana', 'tuungane', 'tupendane'],
      dtype='|S33')

In [107]:
groupsSchool['tuungane']

array(['tujikaze', 'muhungano', 'tuwungane', 'mungano', 'muungano',
       'c.s. tuungane', 'tuungana', 'tuungane', 'tupendane'],
      dtype='|S33')

In [105]:
groupsSchool['tupendane fech']

KeyError: 'tupendane fech'

In [108]:
removeClean('tuungane',['c.s. tuungane', 'tuungana', 'tuungane','tuwungane'])

In [109]:
groupsSchool['saint paul']

array(['saint michel', 'saint pau', 'saint marc', 'st paul',
       'saint raphael', 'saint paul'],
      dtype='|S33')

In [110]:
removeClean('saint paul',['saint paul','st paul','saint pau'])

In [112]:
groupsSchool['kamole']

array(['kyambogho', 'kiwele', 'kabale', 'humule', 'kisolokele', 'etoile',
       'kamole', 'mgr moke', 'matolu', 'visoke', 'kambale', 'kaoze',
       'kamanyola', 'wapole'],
      dtype='|S33')

In [113]:
removeClean('kamole',['kamole'])

In [115]:
groupsSchool['masisi']

array(['ujasiri', 'masisi', 'masisi2', 'inst2 masisi', 'kasika', 'tisiesi',
       'masapi', 'ii masisi', 'fazili', 'masiki', 'umoja fs', 'de masisi',
       'thabiti', 'nikisi', 'moyo safi', 'makyase', 'masanikilo', 'tsiesi',
       'la vision', 'lisalisi', 'tabiti'],
      dtype='|S33')

In [116]:
removeClean('masisi',['masisi', 'masisi2', 'inst2 masisi','de masisi','ii masisi'])

In [117]:
groupsSchool['butumba']

array(['ujumbe', 'buramba', 'de kirumba', 'tumba', 'busimba', 'gs tumba',
       'rijumba', 'buhimba', 'burhuza', 'bushumba', 'bulumbi', 'lumumba',
       'bikuba', 'kirumba', 'butumba', 'tetembwa', 'burhiba'],
      dtype='|S33')

In [118]:
removeClean('butumba',['butumba'])

In [119]:
len(groupsSchool)

507

In [120]:
import cjson

In [123]:
import simplejson as json

In [126]:
for k in groupsSchool.keys():
    if isinstance(groupsSchool[k],np.ndarray):
        groupsSchool[k]=groupsSchool[k].tolist()

In [128]:
groupsSchoolJson=cjson.encode(groupsSchool)

In [175]:
import json, codecs
with open('SchoolDataV2.json', 'wb') as f:
    json.dump(groupsSchoolJson, codecs.getwriter('utf-8')(f), ensure_ascii=False)
%store groupsSchool >> groupSchoolDraft12.txt

Writing 'groupsSchool' (dict) to file 'groupSchoolDraft12.txt'.

In [138]:
with open('SchoolData.json') as json_data:
    schoolData = json.load(json_data)

In [140]:
%store groupsSchool >> groupSchoolDraft11.txt

Writing 'groupsSchool' (dict) to file 'groupSchoolDraft11.txt'.

In [143]:
from pprint import pprint

In [149]:
groupsSchool['mwanga']=['ins mwanga', 'manga', 'i mwanga', 'mwanga']

In [166]:
groupsSchool['lumiere']

['lumi\xc3\xa8re', 'c.s. lumiere', 'lumiere']

In [165]:
removeClean('lumiere',['lumiere','c.s. lumiere','lumi\xc3\xa8re',])

In [170]:
groupsSchool['mapera']

['mapera',
 'sebyera',
 'mutsoperwa',
 'magherya',
 'camp fac',
 'nengapeta',
 'mapema',
 'imara',
 'bagira',
 'l mapema',
 'mugeri',
 'zaner']

In [171]:
removeClean('mapera',['mapera'])

In [173]:
groupsSchool['maranatha']

['savana school',
 'maranantha',
 'maranatha',
 'maranathan',
 'marhanata',
 'maman sphie']

In [169]:
removeClean('kitunda',['kitunda'])

In [174]:
removeClean('maranatha',['maranantha',
 'maranatha',
 'maranathan',
 'marhanata',])

In [188]:
SchoolMostName=list(dataset.SCHOOL.apply(removeNames).value_counts()[:100].index)

In [190]:
for x in SchoolMostName:
    if not groupsSchool.get(x):
        print x

mont carmel
mont goma
saint joseph
bungulu
goma
saint ursule
nuru
bakanja
lwanga
itfm
instigo
malkia wa mbingu
mikeno
buturande
msawato
tumaini
mugunga
mwandu
bangu
isidore bakandja
mwanga/uvira
umoja
katwa
rutoboko
ushindi
tuadibishe
vungi
bihira
bukavu
faradja
kavaghendi
maedeleo
jerico

In [191]:
len(groupsSchool)

537

In [243]:
dataset['SCHOOL_CORRECT']=dataset.SCHOOL.apply(removeNames)

In [244]:
dataset['SCHOOL_RIGHT']=dataset.SCHOOL

In [200]:
len(dataset.SCHOOL.value_counts())-len(dataset.SCHOOL_CORRECT.value_counts())

314

In [228]:
dataset.loc[dataset.SCHOOL_CORRECT.isin(groupsSchool['mwanga'])]

,DIPLOMSECTION,DIPLOMOPTION,SCHOOL,SCHOOLSTATUS,SCHOOL_CORRECT
11,inconnu,inconnu,mwanga,inconnu,mwanga
42,LITTERAIRE,LATIN PHILO,mwanga,inconnu,mwanga
48,LITTERAIRE,LATINPHILO,mwanga,inconnu,mwanga
56,SCIENTIFIQUE,BIO CHIMIE,mwanga,inconnu,mwanga
62,SCIENTIFIQUE,BIO CHIMIE,mwanga,inconnu,mwanga
73,SCIENTIFIQUE,BIO CHIMIE,mwanga,inconnu,mwanga
102,TECHNIQUE,COMMERCIALE ET ADMINISTRATIVE,mwanga,inconnu,mwanga
105,techc,CA,mwanga,inconnu,mwanga
171,LITTERAIRE,LATIN PHILO,mwanga,inconnu,mwanga
173,TECH,CA,mwanga,inconnu,mwanga
210,LITT,LATIN PHILIO,mwanga,inconnu,mwanga
224,SCIENTIFIQUE,BC,mwanga,inconnu,ins mwanga
226,LITT,LATIN PHILO,mwanga,inconnu,mwanga
245,LIT,LP,mwanga,inconnu,mwanga
294,LIT,LP,mwanga,inconnu,mwanga
307,LIT,LP,mwanga,inconnu,mwanga
308,TEC,SOCIALE,mwanga,inconnu,mwanga
339,TEC,CA,mwanga,inconnu,mwanga
348,TEC CA,CA,mwanga,inconnu,mwanga
392,TEC,CA,mwanga,inconnu,mwanga
396,TECH,CA,mwanga,inconnu,mwanga
413,TECH,CA,mwanga,inconnu,mwanga
449,LITT,LP,mwanga,inconnu,mwanga
451,LIT,LP,mwanga,inconnu,mwanga
528,COMM,CA,mwanga,inconnu,mwanga
529,TEC,CA,mwanga,inconnu,mwanga
542,LIT,LP,mwanga,inconnu,mwanga
544,LIT,LP,mwanga,inconnu,mwanga
547,LIT,LP,mwanga,inconnu,mwanga
558,TECH,CA,mwanga,inconnu,mwanga
...,...,...,...,...,...
4125,COMMERCIALE,COMMERCIALE ET ADMINISTRATIVE,mwanga,catholique,mwanga
4132,COMMERCIALE,COMMERCIALE ET ADMINISTRATIVE,mwanga,catholique,mwanga
4147,SCIENTIFIQUE,Bio chimie,mwanga,catholique,mwanga
4148,COMMERCIALE,COMMERCIALE ET ADMINISTRATIVE,mwanga,inconnu,mwanga
4188,COMMERCIALE,COMMERCIALE ET ADMINISTRATIVE,mwanga,catholique,mwanga
4202,LITTERAIRE,Latin Philo,mwanga,catholique,mwanga
4264,LITERAIRE,LATIN PHILO,mwanga,catholique,mwanga
4266,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4277,COMMERCIALE,COMMERCIALEN ET ADMINISTRAIVE,mwanga,catholique,mwanga
4282,LITERAIRE,LATIN PHILO,mwanga,catholique,mwanga
4293,LITERAIRE,LATIN PHILO,mwanga,catholique,mwanga
4294,COMMERCIALE,COMMERCIALEN ET ADMINISTRAIVE,mwanga,catholique,mwanga
4296,COMMERCIALE,COMMERCIALEN ET ADMINISTRAIVE,mwanga,catholique,mwanga
4297,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4302,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4307,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4308,LITERAIRE,LATIN PHILO,mwanga,catholique,mwanga
4312,COMMERCIALE,COMMERCIALEN ET ADMINISTRAIVE,mwanga,catholique,mwanga
4313,COMMERCIALE,COMMERCIALEN ET ADMINISTRAIVE,mwanga,catholique,mwanga
4315,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4330,COMMERCIALE,COMMERCIALEN ET ADMINISTRAIVE,mwanga,catholique,mwanga
4440,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4451,COMMERCIALE,COMMERCIALE ADMINISTRATIVE,mwanga,catholique,mwanga
4456,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4486,COMMERCIALE,COMMERCIALE ADMINISTRATIVE,mwanga,catholique,mwanga
4505,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4539,COMMERCIALE,COMMERCIALE ET ADMINISTRATIVE,mwanga,catholique,mwanga
4559,LITTERAIRE,LATIN PHILO,mwanga,catholique,mwanga
4619,SCIENTIFIQUE,BIO CHIMIE,mwanga,catholique,mwanga
4622,COMMERCIALE,COMMERCIALE ET ADMINISTRATIVE,mwanga,catholique,mwanga

now we can groups all values according to simillar values

In [266]:
for x in groupsSchool.keys():
    dataset.SCHOOL_RIGHT.loc[dataset.SCHOOL_CORRECT.isin(groupsSchool.get(x))]=x

In [268]:
dataset.loc[dataset.SCHOOL_RIGHT=='itig']

,DIPLOMSECTION,DIPLOMOPTION,SCHOOL,SCHOOLSTATUS,SCHOOL_CORRECT,SCHOOL_RIGHT
17,MECANIQUE,MECANIQUE GENERALE,itig,inconnu,itig,itig
18,TECHNIQUE INDUSTRIELLE,ELECTRICITE,itig,inconnu,itig,itig
38,TECHNIQUE,MECANIQUE GENERALE,itg.inst. tech. indust de goma,inconnu,itg.inst. tech. indust de goma,itig
65,TECHNIQUE,MECANIQUE GENERALE,itig,inconnu,itig,itig
80,TECHN,ELECTRI,itig,inconnu,itig,itig
81,TECH INDUST,MEC GEN,itig,inconnu,itig,itig
198,TECHN,ELECTRICITE,itig,inconnu,itig,itig
206,TECHNI INDUST,MECANIQUE GEN,itig,inconnu,itig,itig
221,TECHN,MECANIQUE,itig,inconnu,itig,itig
266,TEC,ELECTRIC,itig,inconnu,itig,itig
267,TECH,ELECTRIC,itig,inconnu,itig,itig
315,TEC,ELECTR INDUS,itig,inconnu,itig,itig
318,MEC,MEC GENERALE,itig,inconnu,itig,itig
371,TECH,ELECTRICITE,itig,inconnu,itig,itig
376,ELEC,ELEC GENERALE,itig,inconnu,itig,itig
479,ELECTR,ELEC INDUSTR,itig,inconnu,itig,itig
924,TEC,MECANIQUE GENERALE,itig,inconnu,itig,itig
944,TEC,ELECTRICITE,itig,inconnu,itig,itig
945,TECH,ELCTRICITE INDUSTRIELLE,itig,inconnu,itig,itig
1021,TEC,MES GENE,itig,inconnu,itig,itig
1145,TEC,ELEC GNL,itig,inconnu,itig,itig
1358,TEC,MEC GENERALE,itig,inconnu,itig,itig
1361,TEC,ELEC IND,itig,inconnu,itig,itig
1372,TEC,MEC GEN,itig,inconnu,itig,itig
1384,TEC,ELECT,itig,inconnu,itig,itig
1388,TEC,MEC GNL,itig,inconnu,itig,itig
1395,TEC,MEC GNL,itig,inconnu,itig,itig
1407,TEC,MEC GENE,itig,inconnu,itig,itig
1412,TEC ELEC GENERALE,ELECT GENERALE,itig,inconnu,itig,itig
1414,TEC,ELECT,itig,inconnu,itig,itig
...,...,...,...,...,...,...
1960,Technique,Mécanique générale,itig,inconnu,itig,itig
1986,Technique,Mécanique Géénrale,itig,inconnu,itig,itig
2229,Technique,Electronique,itig,inconnu,itig,itig
2230,Technique,Mécanique générale,itig,inconnu,itig,itig
2249,Technique,Electricité générale,itig,inconnu,itig,itig
2256,Technique,Electricité industrielle,itig,inconnu,itig,itig
2257,Technique,Electricité industrielle,itig,inconnu,itig,itig
2268,Technique,Electronique,itig,inconnu,itig,itig
2357,Technique,Electronique,itig,inconnu,itig,itig
2474,Technique,Electricité industrielle,itig,inconnu,itig,itig
2475,Technique,Electricité industrielle,itig,inconnu,itig,itig
2521,Technique,Mécanique générale,itig,inconnu,itig,itig
2545,Technique,Electronique,itig,inconnu,itig,itig
2576,Technique,Mécanique générale,itig,inconnu,itig,itig
2620,Technique,Mécamique générale,itig,inconnu,itig,itig
2732,Technique,Mécanique,itig,inconnu,itig,itig
2859,Technique,Electricité,itig,inconnu,itig,itig
3167,Technique,Electricité industrielle,itig,inconnu,itig,itig
3242,Technique,Mecanique,itig,inconnu,itig,itig
3260,Technique,Mecanique générale,itig,inconnu,itig,itig
3314,Technique,Mecanique générale,itig,inconnu,itig,itig
3315,Technique,Mecanique générale,itig,inconnu,itig,itig
3375,Technique,Mécanique Générale,itig,inconnu,itig,itig
3419,Technique,Electricité Industrielle,itig,inconnu,itig,itig
3458,Technique,Mécanique Générale,itig,inconnu,itig,itig
3490,Technique,Eléctricité Industrielle,itig,inconnu,itig,itig
3596,Technique,Mécanique Générale,itig,inconnu,itig,itig
3798,Technique,Electronique industrielle,itig,inconnu,itig,itig
3865,Technique,Electronique,itig,catholique,itig,itig
4475,TECHNIQUE,ELECTRONIQUE GENERALE,itig,catholique,itig,itig

In [229]:
len(dataset)

4715

In [227]:
len(dataset.SCHOOL.value_counts())

579

In [213]:
removeClean('s',['st etienne', 'saint etienne'])

In [246]:
groupsSchool['rambo']

['rambo', 'irambo']

In [249]:
groupsSchool['himbi']=['ihimbi','himbi', 'i himbi']

In [264]:
groupsSchool['itig']

['itig', 'itg.inst. tech. indust de goma']

In [265]:
%store groupsSchool >> groupSchoolFInal.txt

Writing 'groupsSchool' (dict) to file 'groupSchoolFInal.txt'.

In [257]:
dataset.to_csv('DatasetWithScoolOK.csv')

let do the same for others columsn

In [279]:
section=np.array(list(set((dataset.DIPLOMSECTION.apply(lambda x : x.lower())))))
(groupsSection,labels)=groupLev(section)

In [283]:
len(groupsOption)

27

In [315]:
option=np.array(list(set((dataset.DIPLOMOPTION.apply(lambda x : x.lower())))))
(groupsOption,labels)=groupLev(option)

In [320]:
%store groupsSection >> groupSection.txt
%store groupsOption >> groupOption.txt

Writing 'groupsSection' (dict) to file 'groupSection.txt'.
Writing 'groupsOption' (dict) to file 'groupOption.txt'.

In [318]:
for k in groupsOption.keys():
    if isinstance(groupsOption[k],np.ndarray):
        groupsOption[k]=groupsOption[k].tolist()

In [317]:
def removeCleanOpt(key, similar):
    """this function will remove similar to grouppe name"""
    values=groupsOption[key] #first with get the values from dict
    del groupsOption[key] #we delete them
    correctV=[] #we create an empty list for new values 
    for x in values:
        if x in similar:
            correctV.append(x)
        else:
            groupsOption[x]=[]
            groupsOption[x].append(x)  
    groupsOption[key]=correctV

In [321]:
groupsOption['biochimie']

['imprimerie',
 'economie',
 'bio-chimie',
 'biochimie',
 'bio chimie',
 'agronomie']

In [322]:
removeCleanOpt('biochimie',['bio-chimie','biochimie','bio chimie'])

In [323]:
groupsOption[ 'elec generale']

['elect generale',
 'ele generale',
 'elec generale',
 'mec generale',
 'p\xc3\x8bda generale',
 'agriculture generale',
 'peda generale']

In [324]:
removeCleanOpt('elec generale',['elect generale',
 'ele generale',
 'elec generale'])

In [325]:
groupsOption['machine outil']

['machines out',
 'machine outils',
 'coupe couture',
 'machines outils',
 'm\xc3\xa9canique outil',
 'chimie biologie',
 'machine outil']

In [295]:
removeCleanOpt('machine outil',['machines out',
 'machine outils',
 'machines outils',
 'm\xc3\xa9canique outil',
 'machine outil'])

In [296]:
 groupsOption['latin philo']

['latin philo',
 'latinphilo',
 'relations publiques',
 'latin philio',
 'latin-philo']

In [326]:
removeCleanOpt('latin philo',['latin philo', 'latinphilo', 'latin philio',
       'latin-philo'])

In [327]:
 groupsOption['math-physique']

['math-physique', 'math physique']

In [328]:
 groupsOption['elec generale']

['elect generale', 'ele generale', 'elec generale']

In [329]:
groupsOption['mec gene']

['mes gene',
 'peda gen',
 'mec gene',
 'mec gnl',
 'com et adm',
 'elec gnl',
 'mecanique gen',
 'batiment',
 'mecan gene',
 'mec gener',
 'mec gen',
 'mecanique',
 'pedagerale',
 'inconnu']

In [330]:
removeCleanOpt('mec gene',['mes gene',
 'mec gene',
 'mec gnl',
 'mecanique gen',
 'mecan gene',
 'mec gener',
 'mec gen',
 'mecanique'])

In [331]:
groupsOption['nutrition']

['nutrit',
 'nitrution',
 'nutrition et diet',
 'nutrition',
 'construction',
 'nutri',
 'industrielle']

In [332]:
removeCleanOpt('nutrition',['nutrit',
 'nitrution',
 'nutrition et diet',
 'nutrition',
 'nutri'])

In [333]:
groupsOption['p']

['elect',
 'lp',
 'cb',
 'p',
 'peda',
 'bc',
 'c',
 'soc',
 'ppg',
 'ca',
 'pg',
 'ph',
 'pn',
 'pm',
 'b',
 'fdf',
 'mp',
 'nutr',
 'diet',
 'a',
 'elec']

In [334]:
removeCleanOpt('p',['p'])

In [335]:
groupsOption['sociale']

['m\xc3\xa9canique',
 'soaciale',
 'socaile',
 'agriculture',
 'siciale',
 'social',
 'hospitali\xc3\xa8re',
 'agricole',
 'sociale',
 'commerciale']

In [336]:
removeCleanOpt('sociale',['sociale','siciale','social','soaciale','socaile'])

In [341]:
GroupsOptionsNames=sorted(groupsOption.keys())

In [344]:
agriculture=GroupsOptionsNames[0:4]

In [346]:
agronomie=GroupsOptionsNames[4]

In [377]:
batiment=GroupsOptionsNames[5:7]

In [356]:
biochimie=GroupsOptionsNames[7:10]+GroupsOptionsNames[12:13]

In [360]:
commercialeAdmin=GroupsOptionsNames[10:12]+GroupsOptionsNames[13:14]+GroupsOptionsNames[15:18]

In [364]:
commercialeInfo=GroupsOptionsNames[18:19]+GroupsOptionsNames[14:15]

In [367]:
construction=GroupsOptionsNames[19]

In [369]:
diet=GroupsOptionsNames[20]

In [371]:
economie=GroupsOptionsNames[21]

In [385]:
Options

[[],
 ['a', 'agricole', 'agriculture', 'agriculture generale'],
 'agronomie',
 ['b', 'batiment'],
 ['bc', 'biochimie', 'biologie chimie', 'cb'],
 ['c',
  'ca',
  'com et adm',
  'commerciale',
  'commerciale et adm',
  'commerciale et administrative'],
 ['commerciale informatique', 'com informatique'],
 'construction',
 'diet',
 'economie']

In [384]:
Options.append(economie)

In [387]:
Options.append(GroupsOptionsNames[22:25]+GroupsOptionsNames[26:28])

In [389]:
Options.append(GroupsOptionsNames[25:26]+GroupsOptionsNames[28:29])

In [391]:
for x in GroupsOptionsNames[29:36]:
    Options.append([x])

In [402]:
Options

[[],
 ['a', 'agricole', 'agriculture', 'agriculture generale'],
 'agronomie',
 ['b', 'batiment'],
 ['bc', 'biochimie', 'biologie chimie', 'cb'],
 ['c',
  'ca',
  'com et adm',
  'commerciale',
  'commerciale et adm',
  'commerciale et administrative'],
 ['commerciale informatique', 'com informatique'],
 'construction',
 'diet',
 'economie',
 ['elec', 'elec generale', 'elec gnl', 'elect', 'electricite'],
 ['elec indust', 'electricite industrielle'],
 ['electronique g\xc3\xa9n\xc3\xa9rale'],
 ['fdf'],
 ['hospitali\xc3\xa8re'],
 ["hotesse d'acceuil"],
 ['imprimerie'],
 ['inconnu'],
 ['industrielle'],
 ['latin philo', 'latin philosophie', 'lp'],
 ['machine outil'],
 ['math-physique', 'math\xc3\xa9matique physique', 'mp'],
 ['mec gene',
  'mec generale',
  'mecanique g\xc3\xa9n\xc3\xa9rale',
  'm\xc3\xa9canique'],
 ['mecanique machines outils']]

In [424]:
 Options.append([GroupsOptionsNames[67]])

In [400]:
 Options.append(GroupsOptionsNames[42:45]+GroupsOptionsNames[47:48])

In [404]:
Options.append(GroupsOptionsNames[48:50])

In [417]:
Options.append(GroupsOptionsNames[50:63])

In [420]:
Options.append(GroupsOptionsNames[65:67])

In [427]:
for x in range(len(Options)):
    if not isinstance(Options[x],list):
        Options[x]=[Options[x]]

In [434]:
len(Options)

30

In [437]:
OptionsCat={}
for i in Options:
    OptionsCat[i[0]]=[]
    for j in i:
        OptionsCat[i[0]].append(groupsOption[j])

In [445]:
from compiler.ast import flatten
for k,v in OptionsCat.items():
    OptionsCat[k]=flatten(v)

In [448]:
len(OptionsCat

29

In [469]:
%store OptionsCat >> OptionsCat.txt

Writing 'OptionsCat' (dict) to file 'OptionsCat.txt'.

In [460]:
OptionsCat['machine outil']=['machines out',
 'machine outils',
 'coupe couture',
 'machines outils',
 'm\xc3\xa9canique outil',
 'chimie biologie',
 'machine outil']

In [485]:
OptionsCat['social']

['soc', 'soaciale', 'socaile', 'siciale', 'social', 'sociale']

In [484]:
del OptionsCat['soc']

In [342]:
%store GroupsOptionsNames >> GroupsOptionsNames.txt

Writing 'GroupsOptionsNames' (list) to file 'GroupsOptionsNames.txt'.

In [475]:
dataset['OPTION']=dataset.DIPLOMOPTION

In [473]:
dataset.DIPLOMOPTION=dataset.DIPLOMOPTION.apply(lambda x :x.lower())

In [486]:
for k,v in OptionsCat.items():
    dataset.OPTION.loc[dataset.DIPLOMOPTION.isin(v)]=k

In [492]:
(len(dataset.DIPLOMOPTION.value_counts())-len(dataset.OPTION.value_counts()))*100//len(dataset.DIPLOMOPTION.value_counts())

83

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"